<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Vue To Do List</title>
</head>
<body>
  <div id="app">
    <h1>Things to do</h1>
    <input type="text" placeholder="Aggiungi una cosa da fare" @keyup.enter="addThing" v-model="thingToDo.text">
    <button @click="addThing">Aggiungi</button>
    <ul>
      <li v-for = "(thing,index) in toDoList">
        <p v-if="thing.done">{{thing.text}}</p>
        <p v-else  class="barrato">{{thing.text}}</p>
        <i class="fas fa-times" @click="removeThing(index)"></i>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>